# ===============================
# Python virtual environments
# ===============================
.venv/

# ===============================
# Kaggle credentials
# ===============================
.kaggle/
kaggle.json

# ===============================
# Datasets (NEVER commit data)
# ===============================
data/

# ===============================
# OS / Editor junk
# ===============================
__pycache__/
*.pyc
.DS_Store
.vscode/
.idea/
